{% extends 'base.html.twig' %}
{% block contenido %}
    <div>

        {% for anuncio in anuncios %}
            <a href="{{ path("verAnuncio",{id:anuncio.id}) }}"> {{ anuncio.titulo }} </a>
        {% endfor %}
    </div>
{% endblock %}