{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block contenido %}
	<div class="cont-login-general">
		<form class="form-login" method="post">
			<div class="form-login-inputs">
				<input type="email" value="{{ last_username }}" name="email" placeholder="Email" class="form-input" required autofocus>

				<input type="password" name="password" id="inputPassword" placeholder="Contraseña" class="form-input" required>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<button class="btn-login" type="submit">
					Entrar
				</button>

				<a href="{{ path("registrar") }}" class="form-login-registro">Eres nuevo ? Registrate !</a>

			</div>

		</form>
	</div>
	{% if error %}
		<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}

{% endblock %}
