/******* ANUNCIOS inicio ********/

.todo-anuncios {
    grid-area: cuerpo;
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-areas: ". anuncios .";
    padding-top: 2%;
    overflow-y: scroll;
}

.cont-general-anuncios {
    border-radius: 10px;
    grid-area: anuncios;
    background-color: rgba(49, 49, 49, 0.486);
    display: block;
}

.cont-anuncio {
    width: 30%;
    height: 420PX;
    float: left;
    margin-top: 2%;
    margin-left: 2%;
    border: 2px solid rgb(0, 136, 118);
    border-radius: 10px;
    background-color: rgba(224, 224, 224, 0.486);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    text-align: center;
}

.cont-anuncio:hover {
    background-color: rgba(0, 207, 190, 0.486);
}

.an-foto {
    margin-top: 5%;
    width: 90%;
    height: 300PX;
    border-radius: 30px;
}

.an-titulo {
    text-decoration: none;
    padding: 10px;
}

.an-precio {
    padding-bottom: 10px;
}