/******* ANUNCIOS inicio ********/

.todo-anuncios {
    grid-area: cuerpo;
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-areas: ". anuncios .";
    padding-top: 2%;
}

.cont-general-anuncios {
    border-radius: 10px;
    grid-area: anuncios;
    background-color: rgba(49, 49, 49, 0.486);
}

.cont-anuncio {
    width: 25%;
    height: 55%;
    float: left;
    border: 2px solid rgb(0, 136, 118);
    border-radius: 10px;
    margin: 2%;
    background-color: rgba(224, 224, 224, 0.486);
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    text-align: center;
}

.cont-anuncio:hover {
    background-color: rgba(0, 207, 190, 0.486);
}

.an-foto {
    padding: 20px;
    float: left;
    width: 300px;
    height: 320px;
    border-radius: 30px;
}

.an-titulo {
    text-decoration: none;
    padding: 10px;
}

.an-precio {
    padding-bottom: 10px;
}