/******* LOGIN ********/

.cont-login-general {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Open Sans', sans-serif;
}

.form-login {
    width: 50%;
    min-height: 400px;
    background-color: rgba(0, 150, 150, 0.733);
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-login-inputs {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.form-input {
    height: 15%;
    width: 50%;
    border-radius: 5px;
    font-size: 1.5em;
    text-align: center;
}

.btn-login {
    margin-top: 2%;
    height: 20%;
    width: 40%;
    border-radius: 10px;
    background-color: white;
    font-size: 1.8em;
}

.btn-login:hover {
    font-size: 2em;
    background-color: rgb(245, 205, 94);
}

.form-login-registro {
    font-size: 1.5em;
}

.form-login-registro:hover {
    font-weight: bold;
}