/******* ANUNCIOS personal ********/

.sinanuncios {
    font-size: 3em;
    text-align: center;
}

.cont-general-misanuncios {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    overflow-y: scroll;
}

.cont-mianuncio {
    height: 30%;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "foto datos botones";
    margin: 0 auto;
    align-items: center;
    /*****/
    border: 3px solid rgb(37, 148, 133);
    background-color: rgba(49, 49, 49, 0.486);
    border-radius: 5px;
}

.an-fotomianucio {
    grid-area: foto;
    height: 90%;
    width: 90%;
    border-radius: 10px;
    justify-self: center;
}

.cont-botones {
    grid-area: botones;
    display: flex;
    flex-direction: column;
}

.datos-anuncio {
    font-size: 2em;
    color: white;
}

.btn-editar {
    background-color: #f4b136;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    margin: 5px;
}

.btn-editar:hover {
    background-color: #cf972e;
}

.btn-eliminar {
    background-color: #f15050;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    margin: 5px;
}

.btn-eliminar:hover {
    background-color: #b83b3b;
}