* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

.todo {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 12fr;
    grid-template-rows: 2fr 9fr;
    grid-template-areas: "cabecera""cuerpo";
    background-image: url(../imagenes/fondo.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}


/******* CABECERA ********/

.cabecera {
    grid-area: cabecera;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 3fr;
    grid-template-areas: "logo . . menuusuario";
    /*Degradado de color*/
    background: rgba(73, 155, 234, 1);
    background: -moz-linear-gradient(top, rgba(73, 155, 234, 1) 0%, rgba(43, 184, 144, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(73, 155, 234, 1)), color-stop(100%, rgba(43, 184, 144, 1)));
    background: -webkit-linear-gradient(top, rgba(73, 155, 234, 1) 0%, rgba(43, 184, 144, 1) 100%);
    background: -o-linear-gradient(top, rgba(73, 155, 234, 1) 0%, rgba(43, 184, 144, 1) 100%);
    background: -ms-linear-gradient(top, rgba(73, 155, 234, 1) 0%, rgba(43, 184, 144, 1) 100%);
    background: linear-gradient(to bottom, rgba(73, 155, 234, 1) 0%, rgba(43, 184, 144, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#499bea', endColorstr='#2bb890', GradientType=0);
}

.logo {
    grid-area: logo;
    min-height: 100px;
    width: 80%;
}

.cont-usuario {
    grid-area: menuusuario;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.usuario-info {
    border: 1px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.377);
}


/*.botones-logeado {}*/

.btn-cabecera {
    background-color: #00000021;
    border: 2px solid white;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    margin: 5px;
}

.btn-cabecera:hover {
    background-color: #12acc0b4;
}

.flash {
    width: 100%;
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
    background-color: #00000073;
}